@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

body{
  font-family: "Sora", sans-serif;
}

@theme {
  /* --color-primary: #ff255b; */
  --color-primary:  #4090ff;
  --color-tertiary:  #ff7598;
  --color-secondary: #f9e9ec;
  --color-neutral-dark: #363946;
  --color-black: #111111;
}

button{
  cursor: pointer; 
}

button:focus:active, 
button:focus-visible:active, 
button:focus-within:active, 
button:focus:not(:active), 
button:focus-visible:not(:active), 
button:focus-within:not(:active) {
  /* No scale on focus alone */
  transform: none;
}

button:focus, 
button:focus-visible, 
button:focus-within {
  outline: none;
}

button:active, 
button:focus:active, 
button:focus-visible:active, 
button:focus-within:active {
  transform: scale(0.93);
  transition: transform 0.4s;
}
